.git
.github
.gitignore
.golangci.yml
*.db
*.log
.env
data/
venv/
.venv/
__pycache__/
*.pyc
*.py
.coverage
.mypy_cache/
.pytest_cache/
requirements.txt
requirements-dev.txt
app/
static/
templates/
translations/
tests/
tasks/
docs/
scripts/
telemt-config/
dev_ssh_key
amnezia-web-ui-go/bin/
amnezia-web-ui-go/.golangci.yml
playwright-report/
test-results/
